version: 2.0

defaults: &defaults
  working_directory: ~/sphinx

jobs:
  "html":
    docker:
      - image: testthedocs/ttd-sphinx
    <<: *defaults
    steps:
      - checkout
      - run: cd docs && make html

      - persist_to_workspace:
          root: ~/sphinx/docs
          paths:
            - _build/html

  "deploy site":
    docker:
      - image: testthedocs/ttd-zipcurl
    #<<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/sphinx/html
      - run:
          command: |
              ls -la
              .circleci/deploy.sh

workflows:
  version: 2
  btd:
    jobs:
      - "html"         
      - "deploy site"
